body {
  background: #f9fbff;

  p {
    font-size: 16px;
    font-weight: 300;
    color: #404040;
  }
}

.letest_news_section {
  background-color: #fff;
  padding: 100px 0;
}

.section-heading {
  max-width: 700px;
  margin: 0 auto 50px;

  h6 {
    font-size: 25px;
    color: #3c52eb;
    margin-bottom: 10px;
    font-weight: 300;
  }

  h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    color: #979797;
    margin-bottom: 0;
  }
}

.letest_news_box {
  background-color: #ffffff;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ebebeb;
  box-shadow: 0 8px 25px rgb(0 0 0 / 8%);

  .letest_news_img {
    max-height: 250px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .letest_news_user_content {
    padding: 15px;

    h6 {
      color: #303030;
      font-size: 22px;
      font-weight: 500;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 15px;
      color: #4e4e4e;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
    }
  }
}

.banner-section {
  padding: 40px 0 190px;
  min-height: 95vh;
  position: relative;
  background: #f9fbff;
  display: flex;
  align-items: center;
  justify-content: center;


  .container {
    position: relative;
    z-index: 5;
  }

  .banner_description {
    h1 {
      font-size: 65px;
      color: #3c52eb;
      font-weight: 600;
      margin: 0 0 12px;
    }

    p {
      margin-bottom: 20px;
    }

    .btn-box {
      display: flex;
      flex-direction: row;
      gap: 1.2rem;
      flex-wrap: wrap;

      .button-primary {
        background-color: #3c52eb;
        padding: 10px 25px;
        color: #ffffff;
        text-decoration: none;
        border-radius: 6rem;
      }

      .button-text {
        background-color: #ffffff;
        padding: 10px 25px;
        color: #3c52eb;
        text-decoration: none;
        border: 1px solid #3c52eb;
        border-radius: 6rem;
      }
    }
  }

  .banner_img_container {
    position: relative;
    height: 465px;
    width: 100%;
    padding-left: 0;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    overflow: hidden;

    .banner_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .img_bottom_box {
    width: 150px;
    height: 110px;
    background-color: #3c52eb;
    position: absolute;
    bottom: -18px;
    left: -17px;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
  }
}

.banner-slide {
  position: relative;
  z-index: 99;
  background: transparent;
  overflow: hidden;
  margin: -65px 0 0;
  padding: 0 0 30px;

  .bg-white {
    background-color: #ffffff;
  }

  .bg-primary {
    background-color: #3c52eb;
    color: #ffffff;

    h5 {
      color: #fff !important;
    }

    p {
      color: #ffffff;
    }
  }

  .banner_box {
    padding: 2rem;
    box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

    p {
      margin-bottom: 0;
    }

    h5 {
      font-size: 22px;
      font-weight: 600;
      color: #4c65ef;
    }
  }
}

// Service Box Style

.service_box {
  width: 100%;
  background-color: #fff;
  padding: 3rem 1rem;
  color: #000;

  .box-title {
    h6 {
      font-size: calc(0.7vw + 0.5rem);
    }
  }

  &:hover {
    background-color: #3c52eb;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    color: #fff;
    box-shadow: 0px 10px 10px 0px #00000017;
  }
}

.awesome_service_box {
  background-color: #3c52eb;
  color: #fff;
  box-shadow: 0px 10px 10px 0px #00000017;
  background-color: #3c52eb;
}

.upper_img_container {
  display: flex;
  justify-content: flex-end;
  margin-top: -10%;
  position: relative;
}

.video-section {
  background-image: url("/right-employee.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;
  }

  .right_employ {
    .container {
      position: relative;
      z-index: 5;
    }

    .play-btn-container {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;

      .play-btn {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: transparent;
        outline: none !important;
        border: none;
        box-shadow: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.we-are-hiring {
  padding: 40px 0 150px;

  .we-are-gallery {
    position: relative;

    .we-gallery {
      border-radius: 150px 0 150px 0;
      overflow: hidden;
      height: 450px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .upper_img_container {
      width: 400px;
      border-radius: 80px 0 80px 0;
      overflow: hidden;
      height: 300px;
      position: absolute;
      right: -80px;
      bottom: -80px;
    }
  }

  .we-content {
    .we-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;

      .list-content {
        flex: 0 0 calc(100% - 40px);
        padding-left: 20px;
        color: #404040;

        h3 {
          font-size: 16px;
          margin: 0 0 5px;
        }

        p {
          font-size: 16px;
          margin: 0;
        }
      }

      .list-icon {
        width: 40px;
        height: 40px;
        background: #c5baff;
        border-radius: 50px;

        h5 {
          margin: 0;
        }
      }
    }
  }
}

.mainTitle h2 {
  margin-bottom: 25px;
}

.video-main {
  position: relative;
  display: inline-block;
}

.video {
  height: 70px;
  width: 70px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  z-index: 999;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.video-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waves-block {
  position: relative;
  width: 100px;
  height: 100px;
  transform: translate(-25px, -25px);
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}

.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.service-block-container:nth-child(odd) .row {
  flex-direction: row-reverse;
}

.services-block {


  padding: 140px 0;

  .services {

    &:nth-last-child(1),
    &:nth-last-child(2) {
      .service-list {
        // margin-bottom: 0;
      }
    }

    .service-list {
      // margin: 0 0 50px;
      
      p {
        font-size: 16px;
        margin: 0;
      }

      h5 {
        font-size: 25px;
        margin: 20px 0px 5px;
      }

      .img-container {
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }
    }
  }
}